// COLORS
$color-secondary-bg: #211f1f;
$color-primary-1: #b79770;

$color-grey-light-1: #eedddd;
$color-grey-light-2: rgb(224, 224, 217);

$color-red-1: #ff7730;

$color-tertiary-dark-1: #5643fa;
$color-tertiary-dark-2: #0E182A;

$color-white: #fff;
$color-black: #000;

$color-textSelect-1:  #06b40f; 

// FONT-SIZE
$default-font-size: 1.3rem;
$medium-font-size: 2.2rem;

// FONT-FAMILY
$primary-font: 'Tai Heritage Pro';
$handwriting-font-1: 'Dancing Script', normal;
$special-font-1: 'Special Elite';

// SHADOWs
$shadow-black-light: 0 1rem 2rem rgba($color-black, .15);
$shadow-black-medium: 0 1.5rem 4rem rgba($color-black, .25);

// Border Radius
$border-radius-small: 5px;