.previousCard {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    justify-content: center;

    @include respond(phone) {
        grid-column: 2 / 4;
        grid-row: 6 / 7;
        } 

        &__uoList {
            list-style-type: none;

            &--Item {
                margin-bottom: 1rem;
            }
        }

        &__title {
            animation: changeColor 6s ease-in-out 2s infinite ;
            animation-fill-mode: backwards;
            z-index: 1;
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        &__btn {
            height: 50%;
            width: 10rem;
            background-color: $color-secondary-bg;
            color: $color-grey-light-2;
        }
} 